<button onclick="return testSync('{{ path('likebtn.testsync') }}')" >
  {{ "Test synchronization"|t }}
</button>
<strong class="likebtn_test_sync_container">
  <img src="{{- public_url -}}\/assets/img/ajax_loader.gif" style="display:none"/>
  <span class="likebtn_test_sync_message"></span>
</strong>
